<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Gabble</title>
  </head>

  <body>
    {{ ^loggedIn }}
    <header id="welcome-header">
      <h1>gabble</h1>
    </header>

    <section class="wrapper">
      <div class="welcome-container container">
        <h1>Welcome to gabble</h1>
        <div>
          <a href="/users/new">
            <button class="welcome-btns">Sign Up</button>
          </a>
          <a href="/users/login">
            <button class="welcome-btns">Log In</button>
          </a>
        </div>
      </div>
    </section>
    {{ /loggedIn }}

    {{ #loggedIn }}
    <header class="main-header">
      <div class="main-header-container">
        <h1>gabble</h1>
        <nav class="main-nav">
          <a href="/home">
            <button class="nav-btn">Home</button>
          </a>
          <a href="/messages/new">
            <button class="nav-btn">New Gab</button>
          </a>
          <form method="post" action="/users/logout">
            <input type="submit" value="Log Out" class="nav-btn">
          </form>
        </nav>
      </div>
    </header>

    <section class="wrapper">
      <div class="home-wrapper">
        <div class="home-container">
        <div class="new-gab">
          <form method="post" action="/messages/new" class="newgab-form">
            <textarea name="newgab" placeholder="What's going on?"></textarea>
            <input type="submit" value="Gab" class="newgab-btn">
          </form>
        </div>

        <div class="refresh">
          <form method="post" action="/messages/refresh" class="refresh-form">
            <input type="submit" value="Refresh Gabs" class="refresh-btn">
          </form>
        </div>

        {{ #messages }}
        <a href="/messages/{{ id }}/view" class="message-link">
          <div class="gab-display">
            <h3>{{ user.name }} <span>@{{ user.username }}</span></h3>
            <p>{{ message }}</p>
            <div class="likes">
              {{ ^liked }}
              <form method="post" action="/likes/{{ id }}">
                <input type="submit" value="Like" class="like-btn">
              </form>
              {{ /liked }}
              {{ #liked }}
              <form method="post" action="/likes/{{ id }}/delete">
                <input type="submit" value="Unlike" class="like-btn">
              </form>
              {{ /liked }}
              <p>Liked by {{ likes }} people</p>
            </div>
            <div>
              {{ #author }}
              <form method="post" action="/messages/{{ id }}/delete">
                <input type="submit" value="Delete">
              </form>
              {{ /author }}
            </div>
          </div>
        {{ /messages }}
        {{ /loggedIn }}
        </a>
      </div>
    </section>
  </body>
</html>
