<!doctype>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>View Gab</title>
  </head>

  <body>
    <header class="main-header">
      <div class="main-header-container">
        <h1>gabble</h1>
        <nav class="main-nav">
          <a href="/home">
            <button class="nav-btn">Home</button>
          </a>
          <a href="/messages/new">
            <button class="nav-btn">New Gab</button>
          </a>
          <form method="post" action="/users/logout">
            <input type="submit" value="Log Out" class="nav-btn">
          </form>
        </nav>
      </div>
    </header>

    <section class="wrapper">
      <div class="viewgab-wrapper container">
        <div class="viewgab-container">
        {{ #messages }}
          <div class="gab-display">
            <h3>{{ user.name }} <span>@{{ user.username }}</span></h3>
            <p>{{ message }}</p>
            <div>
              {{ ^liked }}
              <form method="post" action="/likes/{{ id }}/message" class="likes">
                <input type="submit" value="Like" class="like-btn">
                <p class="likers">Liked by {{ likes }} people</p>
              </form>
              {{ /liked }}
              {{ #liked }}
              <form method="post" action="/likes/{{ id }}/delete/message" class="likes view-likes">
                <input type="submit" value="Unlike" class="like-btn viewgab-like-btn">
                <p class="likers">Liked by {{ likes }} people</p>
              </form>
              {{ /liked }}
            </div>
            <div>
              {{ #author }}
              <form method="post" action="/messages/{{ id }}/delete">
                <input type="submit" value="Delete" class="delete-gab">
              </form>
              {{ /author }}
            </div>
          </div>

          <div class="liked-by">
            <h3>Users who have liked this gab:</h3>
            <ul>
              {{ #likedBy }}
              <li>{{ user.username }}</li>
              {{ /likedBy }}
            </ul>
          </div>
        {{ /messages }}
        </div>
      </div>
    </section>
  </body>
</html>
